#main-wrapper {
    margin-top: 80px;
}

.navbar-default {
    background-color: #e67e22;
    border-color: #db681c;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffd9bf;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffd9bf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffd9bf;
    background-color: #db681c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffd9bf;
    background-color: #db681c;
}
.navbar-default .navbar-toggle {
    border-color: #db681c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #db681c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffd9bf;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffd9bf;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffd9bf;
        background-color: #db681c;
    }
}

.panel-default > .panel-orange {
    background: #e67e22;
    color: #fff;
}

h2 {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 25px;
}

.btn-full {
    width: 100%;
}

.table-header-button {
    width: 80px;
    text-align: center;
}

.table-result-header {
    width: 200px;
    text-align: center;
}

.table-result-header-small {
    width: 150px;
    text-align: center;
}

.mono {
    font-family: monospace;
}

#graph-view {
    height: 800px;
}

.remove-dt-style {
    margin-top: -48px !important;
    padding: 0;
}

.table-bordered-custom th,
.table-bordered-custom td {
    border: 1px solid #eceeef;
}

.table-bordered-custom thead th,
.table-bordered-custom thead td {
    border-bottom-width: 2px;
}