<div class="col-xs-12 margin-bottom clearfix">
    <div class="pull-left">
        <h2>List of Graphs</h2>
    </div>
    <div class="pull-right">
        <a ui-sref="graphs-create" class="btn btn-primary">Create Graph</a>
    </div>
</div>

<div class="col-xs-12">
    <table datatable="ng" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Vertices</th>
            <th class="table-header-button">View</th>
            <th class="table-header-button">Color</th>
            <th class="table-header-button">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="graph in graphsController.graphs">
            <td>{{ graph.name }}</td>
            <td>{{ graph.vertices }}</td>
            <td class="text-center"><a ui-sref="graphs-view({id: graph.id})" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-search"></span></a></td>
            <td class="text-center"><a ui-sref="colorings-create-coloring({id: graph.id})" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-tint"></span></a></td>
            <td class="text-center"><button class="btn btn-xs btn-danger" ng-click="graphsController.deleteGraph(graph.id, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
