<div class="col-xs-12 margin-bottom clearfix">
    <div class="pull-left">
        <h2>Create Graph</h2>
    </div>
    <div class="pull-right">
        <a ui-sref="graphs" class="btn btn-primary">List Graphs</a>
    </div>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-orange">Graph Information</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="name">Graph Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nickname" ng-model="graphsCreateController.name">
                </div>
                <div class="form-group">
                    <label for="matrix">Adjacency Matrix</label>
                    <textarea class="form-control" rows="5" id="matrix" name="matrix" ng-model="graphsCreateController.matrix"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-full" ng-click="graphsCreateController.createGraph()">Create Graph</button>
            </form>
        </div>
    </div>
</div>
