<div class="col-xs-12 margin-bottom clearfix">
    <div class="pull-left">
        <h2>Generate Coloring for {{ coloringsCreateController.graph.name }}</h2>
    </div>
    <div class="pull-right">
        <a ui-sref="colorings" class="btn btn-primary">List Colorings</a>
    </div>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-orange">Coloring Information</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="heuristic">Coloring Heuristic</label>
                    <select id="heuristic" class="form-control" ng-model="coloringsCreateController.heuristic">
                        <option ng-repeat="heuristic in coloringsCreateController.heuristics" value="{{ heuristic }}">{{ heuristic }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-full" ng-click="coloringsCreateController.generateColoring()">Generate Coloring</button>
            </form>
        </div>
    </div>
</div>
